<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <link rel="stylesheet" href="..\CSS\AdminSideBar.css">

 </head>
<body>
  <div class="sideBar">
    <div class="upperPart">
      <div class=admin> <p>JACK PETTER </p><i class="fas fa-user-cog"></i></div>
      <div> <p>Home </p><i class="fas fa-home"></i></div>

       <div> <p>Modify State </p><i class="fas fa-building"></i></div>
      <div> <p>Modify City  </p><i class="fas fa-city"></i></div>
      <div> <p>Modify Agency </p> <i class="fas fa-warehouse"></i></div>
      <div><p> Modify Brand </p><i class="fas fa-random"></i></div>
      <div><p>Modify Model </p> <i class="fas fa-car-side"></i></div>
      <div><p>Modify Vehicule</p><i class="fas fa-cog"></i></div>
      <div><p>Add a client</p> <i class="fas fa-user-plus"></i></div>
      <div><p>Modify Contact</p> <i class="fas fa-file-signature"></i></div>
    </div>
    <div class="bottomPart">
      <div><p>Log Out</p> <i class="fas fa-sign-out-alt"></i></div>

    </div>
  </div>

</body>
</html>
