<!DOCTYPE>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <link rel="stylesheet" href="..\CSS\admin\modifyState.css">
  <link rel="stylesheet" href="..\CSS\admin\modifyVehicule.css">

  <script src="../../library/Autocomplete.js"></script>
  <script src="../../library/clicksEffects.js"></script>

</head>
<body>
  <div class="sideBar">
    <iframe src="adminsideBar.html"> </iframe>
  </div>
  <div class="main">
    <form class="left">
    <select  required>  <option>Agency</option>  </select>
    <select required> <option>Model</option> </select>
      <input type="text" placeholder="Agency"required />
      <input type="number" placeholder="Model"required/>
      <input type="text" placeholder="Fuel"required/>
      <input type="number" placeholder="Registration number"required/>
      <input type="number" placeholder="Rental fee per day"required/>
      <input type="number" placeholder="Vehicle insurance fee"required/>
      <div> </div>
      <input type="address" placeholder="Passengers"required/>
      <input type="Web S" placeholder="Agency adress"required/>
      <div class="radio">
       <p> Vehicule Reserved </p>
       <label>yes</label>  <input  id="yes" type="radio"/>
       <label>no</label>  <input id="no" type="radio"/>
      </div>
      <div class="radio">
       <p>Gear Box</p>
       <label>Manual</label>  <input  id="yes" type="radio"/>
       <label>Automatic</label>  <input id="no" type="radio"/>
      </div>

      <button class="add" type="submit"><i class="fas fa-plus-circle"></i></button>
    </form>
    <section class="right">
      <form class="search">
        <div id="autocomp">
          <input  id="input" class="input" type="text"/> <i class="fas fa-search"></i>
          <div id="autocomplete">
          </div>
        </div>

      </form>
      <div class="sort">
        <button> <i class="fas fa-align-left"></i></button>
        <button><i class="fas fa-sort-alpha-up-alt"></i></button>
        <button> <i class="fas fa-sort-up"></i></button>
        <button><i class="fas fa-sort-down"></i></button>
      </div>
      <div class="addElement" id="addElement">
        <form class="oneElement" id="oneElement">
          <select  required>  <option>Agency</option>  </select>
          <select required> <option>Model</option> </select>
            <input type="text" placeholder="Agency"required   disabled/>
            <input type="number" placeholder="Model"required  disabled/>
            <input type="text" placeholder="Fuel"required  disabled/>
            <input type="number" placeholder="Registration number"required  disabled/>
            <input type="number" placeholder="Rental fee per day"required  disabled/>
            <input type="number" placeholder="Vehicle insurance fee"required  disabled/>
            <input type="address" placeholder="Passengers"required  disabled/>
            <input type="Web S" placeholder="Agency adress"required  disabled/>
            <div class="radio">
             <p> Vehicule Reserved </p>
             <label>yes</label>  <input  id="yes" type="radio"/>
             <label>no</label>  <input id="no" type="radio"/>
            </div>
            <div class="radio">
             <p>Gear Box</p>
               <label>Manual</label>  <input  id="yes" type="radio"/>
               <label>Automatic</label>  <input id="no" type="radio"/>
            </div>
              <button class="modify" type="submit"> <i class="fas fa-sliders-h"></i></button>
              <button class="confirm" type="submit" disabled><i class="far fa-check-circle"></i> </button>
              <button class="delete" type="submit"><i class="fas fa-minus-circle"></i> </button>
            </form>



          </div>
          <div  class="pagination" id="pagination">
            <i  id="left" class="fas fa-angle-double-left"></i>
            <div class="numbers">
            </div>
            <i id="right" class="fas fa-angle-double-right"></i>
          </div>
        </section>
      </div >
      <script src="..\..\library\pagination.js"> </script>
      <script type="text/javascript" src="..\..\js\admin\modifyVehicule.js">
      </script>
            </body>
