
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:auto;
  width: 100%;
  margin:0px;
  padding: 0px;
}
body * {
  font-family: 'Advent Pro';
  outline: none;
}

.body{
  /*  background: -webkit-linear-gradient(180deg, rgba(193,193,1931,0.7) 0%, rgba(193,193,193,0.7) 60%, rgba(13,13,13,0.9) 60%, rgba(13,13,13,0.9) 100%);*/
  background-color:   rgba(193,193,193,0.7);
  height:700px;
  width: inherit;

}

.container{
  display: flex;
  position: absolute;
  width:80%;
  height:90%;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-color:black;
  box-shadow: 4px 5px 9px 0px rgb(21, 21, 21);
}
.container .firstpart {
  padding: 0;
  margin:0;
  background:url('../../Image/main_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height:100%;
  text-align: center;
}
.firstpart h1 {
  position: absolute;
  display: flex;
  justify-content:center;
  color:#047F8C;
  font-size: 25px;
  border: 1px solid #047F8C;
  height:40px;
  width: 40px;
  border-radius: 50px;
  text-align: center;
  left:1.5%;
  top:0.5%;

}
.firstpart h1 i {
  margin: auto;
}
.firstpart .header {
  position: absolute;
  width: 20%;
  height:inherit;
  display: flex;
  flex-direction: column;
  font-size:9px;
  justify-content:space-between;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.29);
  font-weight: lighter;
}
.firstpart div.contact , .firstpart div.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  color:#047F8C;
  height: 55%;
  font-size: 19px;
  padding: 0;
  margin:0;
}
.firstpart div.contact{
  height: 25%;
  padding: none;

}
.firstpart div.services div , .firstpart div.contact div{
  display: flex;
  width: inherit;
  height: 20%;
  text-align:center;
  border: 1px solid rgba(255, 255, 255, 0.12);
  justify-content: center;
}
.firstpart div.contact div{
  height: 33%;

}
.firstpart div.services div p,.firstpart div.contact div p {
  align-self: flex-start;
  width:80%;
  height:inherit;
  text-align:center;
  color: #ffffffa3;
}

.firstpart div.services div i ,.firstpart div.contact div i  {
  align-self: center;
  height: inherit;
  width: 20%;
  font-size: 20px;
  margin: 4px;
}
.subcontainer {
  width: 55%;
  height:100%;
  text-align: center;
}

.subcontainer h1 {
  font-size: 35px;
  font-weight: lighter;
  color: #d9d9d9;
  margin-bottom: 50px;
  letter-spacing: 0.1px;
  padding-top:10px;
  border-radius: 50%;
  margin:1px solid white;
  margin: 20px;

}
.subcontainer h1 i {
  margin:2px;
  animation: turn 1s linear 1;

}
.subcontainer *{
  margin: auto;
}
.login_signUp {
  position: absolute;
  width:inherit ;
  height: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7%;



}
.login_signUp .log_sign_button {
  display: flex;
  width: 80%;
  height: 50px;

}
input.confirm {
  font-size: 20px;
  border:  0.5px solid hsla(186, 94%, 28%, 0.2);
  color:  hsla(186, 94%, 28%, 0.7);
  background-color: rgba(0,0,0,0);
  width: 50%;
  margin-top: 15px;
}
.login_signUp  form.signup ,.login_signUp  form.login  {

  margin-top: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height:90%;
  z-index: 1;

}
.login_signUp  form.login{
  margin-top: 5%;
  height:50%;
  width: 70%;
  z-index: 0;


}
.login_signUp .insert{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height:90%;
}
.insert  input {
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  height: 16%;
  margin-top:5px;
  width: 49%;
  border: 0.5px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(0,0,0,0);
  color: white;
}
.login .insert input {
  width: 100%;
  height: 30%;


}

input.confirm {
  width:100%;
  height: 12%;
  background-color: #047F8C;
  color:white;
  text-align: center;

}
.login input.confirm{
  height: 20%;

}
.switch  , .first , .second{
  display:flex;
  align-items: center;
  letter-spacing: 1px;
  width: 50%;
  justify-content: space-around;
  padding: 3px;
}
.second {
  width: 15%;

}
.second i {
  font-size: 20px;
}

.switch {
  position:absolute;
  bottom: 0%;
  height: 9%;
  width: inherit;
  background-color:#80808017;
  justify-content: space-between;
  flex-direction: row-reverse;

}
.switch  button {
  width: 30% ;
  height: 30px;
  background-color: #047F8C;
  color:white;
  border-radius: 14px;
  border: none;
  margin-left: 4px;
}
.switch p {
  color :rgba(255, 255, 255, 0.38);
  font-size: 15px;
}
/*hover effects*/
input.confirm:hover , button.switchbut:hover{
  cursor: pointer;
  background-color: #0F97A6;
  animation: anim  1s linear 1;

}
div.second i:hover{
  cursor: pointer;
  color: #047F8C;
}
.firstpart button:hover {
  cursor: pointer;
  transform: scale(1.05);

}
.firstpart h1:hover {
  cursor: pointer;
  color: #0F97A6;
  border-color: #0F97A6;
  transform: scale(0.9);
}
.firstpart h1:active{
  animation: turn_bar 0.3s linear 1;
}

/* above part */
body  section.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:inherit;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  padding-top: 1%;
  padding-top:30px;
  padding-bottom:30px;

}
section.info div {
  width: 24%;
  height: 100%;
  text-align: center;
  margin:auto;
  align-self: center;
}

section.info div * {
  width: 90%;
  margin:auto;
  text-align: center;
  color: white;
  margin: auto;

}
section.info div i {
  align-self: center;
  color: #0f97a6;
  font-size:80px;
  height: 40%;
  padding: 5px;
}
div.part h2 {
  height:20%;
  font-weight: lighter;

}
div.part h3 {
  height: 40%;
  font-weight: lighter;

}
section.info div.final_part {
  height: 60%;
}
section.info div.final_part  *{
  height: 50%;
}
div.final_part h2 {
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  body  section.info {
    flex-direction:column;
    justify-content: center;
    height: auto;
    width:inherit;
    }
  section.info div * {
    width: inherit;
    width: 100%;
    text-align: center;
    align-self: center;
    margin:auto;
    height:20%;
    color: white;
    margin: auto;

  }
}
/* animation*/

@keyframes anim{
  0%{
    letter-spacing: 1px;
    font-size: 15px;
  }
  100%{
    letter-spacing: 2px;
    font-size: 17px;
  }
}

@keyframes  turn{
  0%{   transform: rotate(0deg);  }
  50%{    transform: rotate(90deg);  }
  100%{    transform: rotate(0deg);  }
}

@keyframes  turn_bar{
  0%{   transform: rotate(0deg);  }
  100%{    transform: rotate(-90deg);  }
}
