*{
  font-size: 15px;
  }
.main form.left{
  display: flex;
  flex-direction: column;
  width:25%;
  height: 90%;
  justify-content: space-between;
  background-color: rgba(193,193,193,0.05);
  padding: 20px;
}
.main form.left * {
  height: 6%;
  width: 100%;

}
.main form.left .radio {
 display: flex;
 justify-content: space-around;

}
form.left  div.radio * {
 width: auto;
 height: 50%;
 align-self: center;
 }
form.left  div.radio p {

 width: 50%;
}
.main form.left button.add i{
  margin-bottom: 20px;
}
.main section.right {
  background: rgba(193,193,193,0.05);
  width: 65%;
  height: 90%;
  padding: 20px;
  font-size:15px;
}
.addElement {
 justify-content: space-between;
  overflow: auto;
  margin-top:10px;
  margin-bottom: 10px;
}
.addElement .oneElement{
  margin-top: 20px;
   flex-wrap: wrap;
  height: 10%;
}
.addElement .oneElement *{
  width: 47%;
  height: 90%;
  margin:5px;
}
.addElement .oneElement .radio {
 display: flex;
 justify-content: space-around;

}
.addElement .oneElement  div.radio *{
 width: auto;
 height: 50%;
 align-self: center;
 }
