*{
  font-size: 17px;
  }
.main form.left{
  display: flex;
  flex-direction: column;
  width:25%;
  height: 70%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(193,193,193,0.05);

}
.main form.left * {
  height: 10%;
  width: 90%;


}
.main form.left button.add i{
  margin-bottom: 20px;
}
.main section.right {
  background: rgba(193,193,193,0.05);
  width: 65%;
  height: 90%;
  padding: 20px;
}
/*
.addElement {
 justify-content: space-between;
  overflow: auto;
  margin-top:10px;
  margin-bottom: 10px;
}
.addElement .oneElement{
  margin-top:5%;
  flex-wrap: wrap;
  height: 10%;
}*/
.addElement .oneElement input  ,.addElement .oneElement select{
  width: 25%;
  height: 90%;
 }
 .addElement .oneElement button {
  width: 6%;
  height: 90%;
  }
 .addElement .oneElement button i {
   margin:auto;

 }
