body *{
font-size: 20px;
}
form.left * {
border-radius: 0;
text-align: center;
}
form.left {
 /*display: flex;
 //flex-direction: column;*/
}
form.left select {
width: 42%;
}
form.left input {
width: 42%;
}
form.left button {
 width: 10%;
}

form.oneElement *{
border-radius: 0;
}
form.oneElement select {
width: 35%;
}
form.oneElement input {
width: 35%;
}
form.oneElement .modify ,form.oneElement .confirm ,form.oneElement .delete {
 width: 8%;

}
